@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:900");

@import "bulma.sass";
@import "./variables.scss";

body {
  color: $white;
}

#background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  background: #015aff;
  top: 0;
  left: 0;
}

#main, .footer {
  @extend .content;
  color: $white;
  background-color: $grey-darker;
  padding: 2em;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;

  h1, h2, h3, h4, h5, h6 {
    color: $white-ter;
  }

  strong {
    color: $white-ter;
  }

  a {
    color: $orange;
    &:hover {
      color: $white-ter;
    }
  }

  table {
    @extend .table;
    thead th {
      color: $white-ter;
      border-color: $grey;
    }

    td {
      border-color: $grey-dark;
    }
    color: $white-bis;
    background-color: $grey-darker;
  }

  pre, code {
    color: $green;
    background: $black-ter;
    font-family: $family-monospace;
  }

  .box {
    background-color: $black-ter;
    color: $white-ter;
  }

  .title {
    color: $white-ter;
  }
}

@import "./intro.scss";
@import "./navigation.scss";
