<nav id="nav">
  <ul class="links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .URL $currentPage.RelPermalink) }}
      {{ $active = or $active (eq .Name $currentPage.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
      <li class="{{ if $active }}active{{ end }}">
        <a href="{{ .URL }}#nav">
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
  <ul class="icons">
    <li><a href="https://discord.com/invite/QgEuqhc">
      <i class="fab fa-discord"></i>
    </a></li>
  </ul>
</nav>
