<div id="serverStatus">
  <div class="columns">
    <div class="column is-one-third">
      <div class="box">
        <figure class="image is-square">
          <img
            src="https://raw.githubusercontent.com/ra3se/artwork/master/levelshots/ra3map19.jpg"
            alt="Image"
          />
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Status</p>
              <p class="title">offline</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Map</p>
              <p class="title">ra3map11</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Players</p>
              <p class="title">0/16</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">IP Address</p>
              <p class="title">pickup.ra3.se:27960</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
